<h2>Test Component</h2>
<div>
    <ol>
        <li>
            <h3>Interpolation</h3> Getting variable value from <b><i>name.component.ts</i></b>  by enclosing var name in between two
            nested flower brackets => {{interpolationExample}}
        </li>

        <li>
            <h3>Property Binding</h3>
            <p>Variable values from name.component.ts can be binded to html properties using [property] = "varName"</p>
            <p>Interpolation can used as well to bind varNames to properties</p>
            Example: [id] = varName <input [id]="propertyBindingExample" type="text">
            <p>When it comes to boolean values, interpolation doesn't work hence property binding should be used</p>
            <p> <u>Boolean property example</u> </p>
            <ul>
                <li>[disabled] = "false" <input [disabled]="false" [id]="propertyBindingExample" type="text"></li>
                <br>
                <li>[disabled] = "true" <input [disabled]="true" [id]="propertyBindingExample" type="text"></li>
            </ul>
        </li>

        <li>
            <h3>Class Binding</h3>
            <p>Can be achieved by declaring <br> varName = "css class-name" in <b><i>name.component.ts</i></b> <br> [class] = "varName" in <b><i>name.component.html</i></b> </p>
            <p>Example: <br> public classBindingExample = "text-success" in <b><i>name.component.ts</i></b> <br> [class] = "classBindingExample" in <b><i>name.component.html</i></b> </p>
            <h4 [class]="classBindingExample">Test for class binding</h4>
            <p><u>Boolean values in class binding</u></p>
            <p>Example: <br> [class.css class-name] = "true" => <span [class.text-danger]="true"> Test for class binding </span></p>
            <p>[class.css class-name] = "false" => <span [class.text-danger]="false"> Test for class binding </span></p>
            <p><u>ngClass directive in class binding</u></p>
            <p>ngClass is mainly used to bind multiple CSS properties</p>
            <p>Example: ngClasses are defined in <b><i>name.component.ts</i></b> => <span [ngClass]="messageClasses"> Test for ngClass</span></p>
        </li>

        <li>
            <h3>Style Binding</h3>
            <p>Binding style property using [style.property-name] = "'value'"</p>
            <p>Example: [style.color] = "'orange'" =><span [style.color] = "'orange'"> Test for style binding</span></p>
            <p>Example: ngStyles are defined in <b><i>name.component.ts</i></b> => <span [ngStyle]="titleStyles"> Test for ngStyle</span></p>
        </li>

        <li>
            <h3>Event Binding</h3>
            <p>Test for event binding, this is for communicating from Template to Class</p>
            <p><button (click)="onClick($event)">Press here</button> {{greeting}} </p>
        </li>

        <li>
            <h3>Template Reference Variables</h3>
            <p>Flow of data from template(view) to class to perform certain operations</p>
            <p><input #myInput type="text"> This logs the message entered to console</p>
            <p><button (click)="logMessage(myInput)">Call Pizza</button></p>
        </li>

        <li>
            <h3>Two Way Binding</h3>
            <p>Keeping view and class in sync to preserve consistency</p>
            <p>Need to import forms module to use this feature</p>
            <p> View: <input [(ngModel)]="twoWayBindingExample" type="text"> </p>
            <p> Class: {{twoWayBindingExample}}</p>
        </li>

        <li>
            <h3>Structural Directives</h3>
            <p>To add or remove HTML elements, to be used in HTML tags</p>
            <ul>
                <li>
                    <u>ngIf</u>
                    <p>*ngIf = "true" =><span *ngIf = "true">Test for ngIf</span></p>
                    <p>*ngIf = "false" =><span *ngIf = "false">Test for ngIf</span></p>

                    <p *ngIf = "displayName; else elseblock">Test for ngIf and ngElse</p>
                    <ng-template #elseblock>
                        <p>Test for ngElse</p>
                    </ng-template>
                </li>
                <li>
                    <u>ngSwitch directive</u>
                    <div [ngSwitch]="switchColor">
                        <p *ngSwitchCase="'red'">You picked Red</p>
                        <p *ngSwitchCase="'green'">You picked Green</p>
                        <p *ngSwitchCase="'blue'">You picked Blue</p>
                        <p *ngSwitchDefault>Pick again</p>
                    </div>
                </li>
                <li>
                    <u>ngFor</u>
                    <p>Used to iterate through an array of elements</p>
                    <div *ngFor="let color of forColor">
                        <p>{{color}}</p>
                    </div>
                    <p><u>Printing along with indices</u></p>
                    <div *ngFor="let color of forColor; index as i">
                        <p>{{i}}: {{color}}</p>
                    </div>
                </li>
            </ul>
        </li>
        <li>
            <h3>Component Interaction</h3>
            <p><u>Part of test component</u></p>
            <p>App component to Test component using @Input decorator => {{parentData}}</p>
            <p><button (click)="execEvent()">Send</button> event to app component from test component using @Output decorator</p>
            <p><u>Part of app component</u></p>
        </li>
        <li>
            <h3>Pipes</h3>
            <p>Allow transformation of data before being displayed</p>
            <p>Before conversion: {{ pipeName }}</p>
            <ul>
                <li>Lower case: {{ pipeName | lowercase}} </li>
                <li>Upper case: {{ pipeName | uppercase}} </li>
                <li>Title case: {{ pipeName | titlecase}}</li>
                <li>Slicing: {{ pipeName | slice: 3}}</li>
                <li>Json: {{pipeJson | json}}</li>
                <li>Floating point values
                    <ul>
                        <li>{{64.920 | number:'2.2-3'}} => '2.2-3': 2:min no of int digits, .2: min no of float digits, 3:max no of float digits</li>
                        <li>{{64.920 | number:'3.3-4'}}</li>
                        <li>{{64.920 | number:'4.4-5'}}</li>
                    </ul>
                </li>
                <li>Date
                    <ul>
                        <li>{{pipeDate}}</li>
                        <li>{{pipeDate | date:'short'}}</li>
                    </ul>
                </li>
            </ul>
            <p>Converted in interpolation using => varName | casing</p>
        </li>
        <li>
            <h3>Services</h3>
        </li>
    </ol>
</div>